.tz-sticky-nav-bar {
    overflow: hidden;
    background-color: lightblue;
    float: left;
    display: block;
    text-align: left;
    padding: 10px;
    position: fixed;
    top: 500;
    /*top is not working for some reason?*/
    width: 100%;
    z-index: 1;
}

.container {
    padding-top: 58px;
}

.button {
padding: 0;
border: none;
outline: none;
background: none;
}

.fa-plus-circle {
    color: blue;
}

.fa-trash {
    color: gray;
}

/*<!--    <div class="tz-sticky-nav-bar">-->
<!--        <div class="row">-->
<!--            <div class="col-1">-->
<!--                <i class="padding-left:50px fas fa-bars fa-2x"></i>-->
<!--            </div>-->
<!--            <div class="col-1">-->
<!--                <h3>Dashboard</h3>-->
<!--            </div>-->
<!--            <div class="col-9">-->
<!--                <input class="form-control"/>-->
<!--            </div>-->
<!--            <div class="col-1">-->
<!--&lt;!&ndash;                <i class="fas fa-plus-circle fa-2x"></i>&ndash;&gt;-->
<!--                <button class="btn btn-primary btn-block">-->
<!--                    Create Course-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->*/